// Global styling for this theme

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 35rem;
  position: relative;
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

@media (pointer: coarse) and (hover: none) {
  body {
    background: url('../img/bg-mobile-fallback.jpg') $primary no-repeat center center scroll;
    background-position: cover;
  }
  body video {
    display: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #343435;
  opacity: 1;
  z-index: 1;
}

.menu {
  width: 100%;
  min-height: 50px;
  position: fixed;
  top: 3.5rem;
  left: 0;
  z-index: 10;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  font-weight: 400;

  .logo {
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,0.6);
    color: black;
    border-radius: 50%;
    padding: 2rem;
    font-size: 1.5rem; font-weight: 800;
    margin-left: 2rem;
  }

  .menu-container {
    margin: auto;
    width: 90%;
    padding: 1rem;
    background-color: transparent;
  }

  .menuitems {
    font-size: 1.2rem;
    margin-left: 10px;
    text-align: right;
  }
}

.slogan {
  position: absolute;
  z-index: 16;
  top: 25%;
  width: 64%;
  margin: auto;
  max-width: 64%;
  // background-color: red;
  color: white;
  left: 50%;
  margin-left: -32%;
  font-size: 1.5rem;
  text-align: center;
}

.windshields {
  width: 50%;
  height: 350px;
  position: absolute;
  top: 35%;
  left:23%;
  background-color:white;
  z-index: 10;
  transform: scale(0.9) skewX(-8deg);
  transform-origin: top right;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;

  text-align: right;

  .in {
    width: 100%;
    position: relative;
    height: 100%;
  }
  .left-bg, {
    text-align: left;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0rem;
    width: 50.5%;
    min-height: 35rem;
    height: 100%;
    background-color: #DDD; //fade-out($primary, 0.2);
    transform: skewY(4deg);
    transform-origin: bottom right;
    min-height: 0;
    transform: skewX(0deg);
    transform-origin: top right;

  }
  
  .textc, .textd {
    transform: skewX(8deg);
    position: absolute;
    top: 50%;
    left: 50%; 
    font-size: 2rem;
    font-weight: 600;
    margin-left: -25%;
    margin-top: -3rem;
  }
  .sparkle { right: -25%; top: 10%; position: absolute; }
  .textd {
    left: auto;
    right: 23%;
    margin-right: -3rem;
  }

}

.call-to-action {
  position: fixed;
  z-index: 16;
  bottom: 5%;
  width: 100%;

  .container {
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .uis {
    // background-color: rgba(255,255,255,0.01);
  }

  .book {
    float: left;
    width: 350px;
    padding: 2rem;
    margin-left: -2.5rem;

    .book-btn {
      min-width: 300px;
      padding: 1rem 4rem 1rem 4rem;
      border-radius: 10px;
      border: none;
      background-color: #0080FF;
      color: white;
      font-size: 1.3rem;
    }
  }
  .nl {
    text-align: left;
    border-radius: 0.5rem;
    color: white;
    width: 500px;
    float: right;
    padding: 2rem;
  }

  .btn-secondary {
    background-color: #0080FF;
    border: none;
    color: white;
  }
  
}

.scroll-container {
  position: fixed;
  bottom: 3%;
  left:50%;
  width: 50px;
  margin-left: -75px;
  height: 50px;
  margin-top: -25px;
  z-index: 17;
  color: white;
  font-size: 2rem;
}

.bookform {
  padding: 2rem;
  position: absolute;
  left: 250px;
  top: 53%;
  width: 350px;
  min-height: 100px;
  margin-left: -150px;
  margin-top: -25%;
  background-color: white;
  border-radius: 5px;
  z-index: 18;
}

.form-group {
  margin-bottom: 0.3rem;
}